{% include head.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/archive">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hcarlioth@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hcarlioth">github.com/hcarlioth</a></li>
				</ul>
			</footer>
		</body>
	</html>